// blue
$blue:        #1F77B4; // Base Colour
$light-blue:    #3991CE; // 10% Lighter
$very-light-blue: #52AAE7; // 20% Lighter

// orange
$orange:      #FF7F0E; // Base Colour
$light-orange:    #FF9928; // 10% Lighter
$very-light-orange: #FFB241; // 20% Lighter

// red
$red:       #D62728; // Base Colour
$light-red:     #F04142; // 10% Lighter
$very-light-red:  #FF5A5B; // 20% Lighter

// green
$green:       #2ca02c; // Base Colour
$light-green:   #46BA46; // 10% Lighter
$very-light-green:  #5FD35F; // 20% Lighter

// purple
$purple:      #9467bd; // Base Colour
$light-purple:    #AE81D7; // 10% Lighter
$very-light-purple: #C79AF0; // 20% Lighter

// brown
$brown:       #8c564b; // Base Colour
$light-brown:   #A67065; // 10% Lighter
$very-light-brown:  #BF897E; // 20% Lighter

// pink
$pink:        #e377c2; // Base Colour
$light-pink:    #FD91DC; // 10% Lighter
$very-light-pink: #FFAAF5; // 20% Lighter

// grey
$grey:        #7f7f7f; // Base Colour
$light-grey:    #999999; // 10% Lighter
$very-light-grey: #B2B2B2; // 20% Lighter
$dark-grey:     #555555;

// yellow
$yellow:      #bcbd22; // Base Colour
$light-yellow:    #D6D73C; // 10% Lighter
$very-light-yellow: #EFF055; // 20% Lighter

// cyan
$cyan:        #17becf; // Base Colour
$light-cyan:    #31D8E9; // 10% Lighter
$very-light-cyan: #4AF1FF; // 20% Lighter

