<footer class="footer top-buffer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 top-buffer">
        <a href="http://www.isaziconsulting.co.za/">
          <small class='text-muted'>powered by</small> <img style="display: inline; max-width:120px; margin-top: -10px" src="/images/isazi_logo.png">
        </a>
      </div>
      <div class="col-md-6 center top-buffer">
        <div class="pull-right">
          <p class="text-muted">© Isazi Consulting | <%= Time.now.year %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="text-muted center small">
        <p>*For demonstration purposes only.  The data presented here are not necessarily factual, nor do the visualisations represent the final product.</p>
      </div>
    </div>
  </div>

</footer>