<footer class="footer top-buffer">
  <div class="container">
    <div class="col-md-6 center top-buffer">
      <a href="http://www.isaziconsulting.co.za/">
        <small class='text-muted'>powered by</small> <img style="display: inline; max-width:120px; margin-top: -10px" src="/images/isazi_logo.png">
      </a>
    </div>
    <div class="col-md-6 center top-buffer">
      <p class="text-muted">© Isazi Consulting | <%= Time.now.year %></p>
    </div>
  </div>
</footer>